In [5]:
import pandas as pd

In [23]:
df=pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [24]:
 df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [25]:
pd.__version__

'2.3.1'

In [26]:
len(df)

9704

In [27]:
df["fuel_type"].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [28]:
df["fuel_type"].nunique()

2

In [29]:
df.isnull().sum().sum()

np.int64(2622)

In [36]:
df.isnull().any().sum()

np.int64(4)

In [39]:
df[df["origin"] == "Asia"]["fuel_efficiency_mpg"].max()

np.float64(23.759122836520497)

In [48]:
median_hp=df["horsepower"].median()
print(median_hp)
mode_hp=df["horsepower"].mode()[0]
print(mode_hp)
df["horsepower"] = df["horsepower"].fillna(mode_hp)
median_after = df["horsepower"].median()
print(median_hp)

152.0
152.0
152.0

In [53]:
import numpy as np
df_asia = df[df["origin"] == "Asia"]
df_asia_subset = df_asia[["vehicle_weight", "model_year"]]
df_asia_subset = df_asia_subset.iloc[:7]
X = df_asia_subset.to_numpy()
XTX = X.T @ X 
XTX_inv = np.linalg.inv(XTX)
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w = XTX_inv @ X.T @ y
sum_w = np.sum(w)
print(sum_w)

0.5187709081074016